:root {
    --color-fondo: linear-gradient(to right, #a8e0f7, #ff7e5f);
    --color-header: #007BFF;
    --color-text: #333;
    --color-secundario: #ffffff;
    --color-titulo: #007BFF;
    --color-subtitulo: #ff6b6b;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
    background: var(--color-fondo);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--color-header);
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative; /* Permite la posición absoluta del logo */
}

#menu {
    margin: 0;
    padding: 0;
}

#lista-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-left: 80px; /* Espacio para el logo */
}

.menu-item {
    display: inline-block;
    padding: 15px 40px;
    margin: 0 10px;
    background: linear-gradient(45deg, #007BFF, #00C6FF);
    color: var(--color-secundario);
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-transform: uppercase;
    border: none; 
}

.menu-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
}

.enlace-menu {
    text-decoration: none;
    color: inherit;
}

#logo-link {
    position: absolute;
    top: 10px; /* Mantener la distancia desde la parte superior */
    left: 10px; /* Mantener en la esquina izquierda */
}

#logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1, h2, h3, h4 {
    color: var(--color-text);
    text-align: center;
    font-weight: 700;
    margin-top: 0;
}

section {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    background-color: var(--color-secundario);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

section:hover {
    transform: translateY(-3px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

p {
    margin-bottom: 15px;
    line-height: 1.8;
    font-size: 1.1em;
}

ul {
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}

section h2 {
    color: var(--color-titulo);
    margin-bottom: 10px;
}

h3 {
    color: var(--color-subtitulo);
}

/* Estilo para la imagen del clima */
.imagen-clima {
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Ajustes para las imágenes de las secciones */
.imagen-seccion {
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
